//====================================================================================================
.footer {
	width: 50%;
	padding: rem(50) rem(30) rem(140) 0;
	&__wrap {
	}
	&__social {
		padding-bottom: rem(35);
	}
	&__tag {
		display: block;
		padding-bottom: rem(38);
		font-size: $text-middle;
	}
	&__by {
		display: block;
		font-size: $text-small;
		text-transform: uppercase;
		padding-bottom: rem(12);
	}
	&__copy {
		font-size: $text-small;
	}
}
.social-list {
	display: flex;

	&__item {
		font-size: rem(20);
		padding-right: rem(10);
		transition: transform 0.3s ease 0s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				transform: scale(1.1);
				transition: transform 0.3s ease 0s;
			}
		}
	}
}

//====================================================================================================
