//====================================================================================================
.title {
    color: #484848;
    font-size: 28px;
    font-weight: 400;
    &__sub-title {
    }
    &__title {
        font-size: 40px;
        font-weight: bold;
    }
    &__year {
    }
}
.section-columns {
    display: flex;
}
.album {
    width: 50%;
    &__img {
        width: 380px;
        padding: 70px 0 90px 0;
        img {
            max-width: 100%;
        }
    }

    &__list {
    }
    &__list-item {
    }
}
.lable-music {
    width: 50%;
  
    img {
        max-width: 100%;
    }
    &__title {
         padding: 70px 0 95px 95px; 
    }
    &__list {
    }
    &__list-item {
    }
    &__btn {
    }
}

//====================================================================================================
