//====================================================================================================
.page {
    display: grid;
    grid-template-areas:
        "h f"
        "s f"
        "s f";
    grid-template-columns: 400px 1fr;
}
.bg-nota {
    width: 486px;
    height: 432px;
    position: absolute;
    right: 326px;
    top: 484px;
    z-index: 1;
}
.bg-decor {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        width: rem(335);
        right: 54%;
        top: -32px;
        max-width: 100%;
        z-index: -1;
    }
}
.bg-color {
    width: 600px;
    height: 100%;
    background-color: $secondary-60;
    position: fixed;
    left: 45%;
}
.link {
    display: flex;
    flex-direction: column;

    &__albums {
        width: 40%;
        font-size: rem(16);
        padding-bottom: 10px;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                transition: all 0.3s ease 0s;
                color: #a762ff;
            }
        }
    }
    &__compilations {
        width: 40%;
        font-size: rem(16);
        padding-bottom: 83px;
        line-height: 1.4;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                transition: all 0.3s ease 0s;
                color: #a762ff;
            }
        }
    }
}
.title {
    width: 60%;
    grid-area: h;

    &__title {
        font-size: rem(36);
        font-weight: 600;
        padding: 0 0 rem(24) 0;
    }
    &__year {
        font-size: rem(20);
    }
}

.album {
    // width: 400px;
    grid-area: s;
    &__img {
        display: block;
        width: rem(280);
        height: rem(280);
        margin: rem(35) 0 rem(55) 0;
        background-color: $white-100;
        img {
            max-width: 100%;
        }
    }

    &__list {
        font-size: 16px;
        list-style-position: inside;
    }
    &__list-item {
        padding: 0 rem(10) rem(22) 0;
    }
}
.lable-music {
    position: relative;
    // width: 600px;
    grid-area: f;
    padding-top: 130px;
    img {
        max-width: 100%;
    }
    &__title {
        font-size: rem(16);
        padding: 0 rem(10) rem(76) rem(33);
    }
    &__list {
        padding-left: rem(57);
    }
    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: rem(46);
        background-repeat: no-repeat;
        background-size: rem(74);

        a {
            font-size: rem(20);
            padding: rem(26) 0 rem(26) rem(110);
        }
    }
    &__btn {
        font-size: rem(20);
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before {
            padding-right: rem(20);
            padding-top: rem(4);
        }
    }
}
.copy-link {
    color: $primary-100;
    font-weight: bold;
    font-size: $text-big;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid $primary-100;
    padding: rem(20) rem(60);
    margin: rem(90) 0 rem(100);
    span {
        padding-left: rem(10);
    }
}
//====================================================================================================
