//====================================================================================================
.title {
    font-size: $text-big;
    font-weight: 400;
    &__sub-title {
        padding-bottom: rem(23);
    }
    &__title {
        @extend %text-h1;
        padding-bottom: rem(30);
    }
    &__year {
    }
}
.section-columns {
    display: flex;
}
.album {
    width: 50%;
    &__img {
        display: block;
        width: rem(380);
        padding: rem(70) 0 rem(90) 0;
        img {
            max-width: 100%;
        }
    }

    &__list {
        font-size: $text-middle;
    }
    &__list-item {
        padding-bottom: rem(25);
        small {
            font-size: rem(18);
            display: block;
            color: $text-60;
        }
        span {
            color: $text-60;
            padding-left: rem(10);
        }
    }
}
.lable-music {
    width: 50%;
    padding-left: rem(95);
    img {
        max-width: 100%;
    }
    &__title {
        font-size: $text-middle;
        padding: rem(70) 0 rem(95) 0;
    }
    &__list {
    }
    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: rem(40);
        background-repeat: no-repeat;
        background-size: rem(80);
        a {
            font-size: $text-big;
            padding: rem(26) 0 rem(26) rem(110);
        }
        // &:nth-child(1) {
        // }
        // &:nth-child(2) {
        //     background-image: url(../img/Deezer.jpg);
        //     background-repeat: no-repeat;
        //     background-size: rem(80);
        // }
        // &:nth-child(3) {
        //     background-image: url(../img/Spotyfy.jpg);
        //     background-repeat: no-repeat;
        //     background-size: rem(80);
        // }
        // &:nth-child(4) {
        //     background-image: url(../img/YandexMusic.jpg);
        //     background-repeat: no-repeat;
        //     background-size: rem(80);
        // }
        // &:nth-child(5) {
        //     background-image: url(../img/YouTube.jpg);
        //     background-repeat: no-repeat;
        //     background-size: rem(80);
        // }
        // &:nth-child(6) {
        //     background-image: url(../img/VKMusic.jpg);
        //     background-repeat: no-repeat;
        //     background-size: rem(80);
        // }
    }
    &__btn {
        font-size: rem(20);
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before {
            padding-right: rem(20);
            padding-top: rem(4);
        }
    }
}
.copy-link {
    color: $primary-100;
    font-weight: bold;
    font-size: $text-big;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid $primary-100;
    padding: rem(20) rem(60);
    margin-bottom: rem(100);
    &::before {
        padding-right: rem(10);
    }
}
//====================================================================================================
